@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>

    <!-- Latest compiled and minified CSS bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Inlog.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <br /><br />
    <div class="container">
        <div class="jumbotron">
            <h1 >Bread Pit</h1>
            <form>
                <input type="text" id="gebruikersnaam"/>
                <input type="password" id="wachtwoord"/>
            </form>
            <button type="button" class="btn btn-primary" id="login">Login</button>
            <button type="button" class="btn btn-primary" id="registratie">Registratie</button>
            <p>
                <a class="btn btn-primary btn-lg" asp-action="order" role="button">Order now</a>
            </p>
        </div>
    </div>
</body>
</html>
